/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;600&display=swap');

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background: transparent;
    padding: 20px 10%;
    text-align: center;
    color: #00FF00;
    transition: background-color 0.3s ease-in-out;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

/* Menú principal */
#menu-principal {
    padding: 50px 10%;
    text-align: center;
}

#enlaces-navegacion {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
}

.enlace-cuadrado {
    background-color: #333;
    border: 2px solid #00FF00;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.enlace-cuadrado a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.enlace-cuadrado:hover {
    transform: translateY(-5px);
    background-color: #00FF00;
}

.enlace-cuadrado:hover a {
    color: #121212;
}

/* Footer */
footer {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 40px 10%;
    text-align: center;
}

footer .redes-sociales {
    margin-bottom: 20px;
}

footer .icono {
    color: #00FF00;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .icono:hover {
    color: #ffffff;
}

footer .informacion a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px;
    font-weight: 600;
    transition: color 0.3s ease;
}

footer .informacion a:hover {
    color: #00FF00;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
    #enlaces-navegacion {
        grid-template-columns: 1fr 1fr;
    }
    
    header h1 {
        font-size: 2rem;
    }
    
    footer {
        padding: 20px;
    }
}