body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background: #000;
    color: #00ff00;
    width: calc(100% - 24px);
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background-color: #000;
    color: #00ff00;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #00ff00;
    color: #000;
}

#result {
    margin-top: 20px;
}

#result p {
    margin: 10px 0;
}

#result strong {
    color: #00ff00;
}

#result span {
    color: #00ff00;
}
