body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#game {
    position: relative;
    width: 1910px;
    height: 965px;
    background-color: black;
    margin: 0 auto;
    border: 2px solid white;
    box-sizing: border-box; /* Incluye el borde en el tamaño total del elemento */
}

#paddle {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: white;
    left: 10px;
    top: 0; /* Inicialmente se alinea al borde superior */
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}
